---
import MainLayout from "@layouts/MainLayout.astro";
import { siteSEO } from "@data/seo/siteSeo";

const siteDesc = siteSEO.description;
const siteUrl = siteSEO.url;
const siteImage = siteSEO.image;

---

<MainLayout
	lang="en"
	title="Patch Notes"
	desc={siteDesc}
	url={siteUrl}
	seoImage={siteImage}
	icon="/favicon.svg"
	iconType="image/svg+xml"
>

	<div class="patch-notes">

		<h1>Patch Notes</h1>

		<div class="patch-notes-list">
            <div class="patch-notes-item">
                <h2>Patch 1.0.0</h2>
                <ul>
                    <li>Initial release</li>
                </ul>
            </div>
		</div>

	</div>