---
import { siteSEO } from "@data/seo/siteSeo"
import MainLayout from "@layouts/MainLayout.astro"

const siteDesc = siteSEO.description
const siteUrl = siteSEO.url
const siteImage = siteSEO.image

---

<MainLayout
	lang="en"
	title="Home"
	desc={siteDesc}
	url={siteUrl}
	seoImage={siteImage}
	icon="/favicon.svg"
	iconType="image/svg+xml"
>

	<main>
		<h1>CoDM Loadout Generator</h1>

		<div class="buttons-list">
			<a href="/mp-loadout" class="generate-button">
				Generate Multiplayer Loadout
			</a>
			<a href="/br-loadout" class="generate-button" aria-disabled="true">
				Generate Battle Royale Loadout (Coming Soon)
			</a>
			<a href="/zombies-loadout" class="generate-button" aria-disabled="true">
				Generate Zombies Loadout (Coming Soon)
			</a>
		</div>

	</main>

</MainLayout>

<style>
		
	main {
		height: 100vh;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
	}

	h1 {
		font-size: 3rem;
	}

	.buttons-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	.generate-button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		background-color: #ffe937;
		color: #000;
		border-radius: 0.5rem;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		border: 1px solid #ffe937;
	}

	.generate-button:hover {
		background-color: #000;
		color: #ffe937;
	}

	a[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.5;
	}

</style>