<footer>

    <p>Made by <a href="https://www.codmdb.com/">CoDM DB</a>.</p>

    <p>This website is not affiliated with or endorsed by <a href="https://www.activision.com/">Activision</a>.</p>

    <p>For feedback, contact <a href="https://x.com/StelianCioarec">Stelian</a>.</p>

</footer>

<style>

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: #000;
        color: #fff;
        gap: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

</style>