---
import { Image } from "astro:assets"

import logo from '@assets/codm-db-logo.png'
---

<nav class="navbar">

	<div class="logo-container">

		<a href="/">
            <Image src={logo} alt="CoDM DB Logo" class="logo" />
        </a>

    </div>

</nav>

<style>

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: #ffe937;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 220px;
        height: auto;
    }

</style>